html, body, #app, #root {
    
    background-color: #EBE9E9;
   
}



#main-navbar {
    height: 3rem;
    font-size: 16px;
    background-color: #2ba7db;
    width: 100%;
    z-index: 999;
    position: sticky;
    top: 0;
    margin:0;
}


    #main-navbar .item {
        border: 0;
        color: white;
        position:relative;
    }

        #main-navbar .right{
            position:absolute;
            right:0;

        }
    #main-navbar .right .item{
        display:inline-block;
    }

h1, h2, h3,.ui.header {
    color: #2C92DB;
}

