body {
}

.form input:invalid {
    border: 2px dashed red;
}


.form input:valid {
    border: 2px solid black;
}

.ui.form.segment input{
    margin-bottom:15px;
    
}

.ui.form.segment .inputs {
   padding:10px;
}