.groups-list .ui.checkbox {
    position:relative;
    width:100%;
}


    .groups-list .ui.checkbox > *{
        display: inline;
    }

    .groups-list .ui.checkbox > .icons {
        position: absolute;
        right: 0;
       
    }

    .groups-list>.add-group{
        margin:0.5rem;
    }