.account-settings {
    min-height:90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
    padding:1rem;
}

    .account-settings .ui.form.segment {
        width: 50em;
    }
