.Dashboard {
    
}


    .Dashboard .import {
        padding: 5vh;

    }

        .Dashboard .import .segment {
            margin-left:auto;
            margin-right:auto;
            width: 50%;
            text-align: center;

        }


    .Dashboard .grid {

        padding:20px;
    }
        
        .Dashboard .grid .column{
            
            }

            .Dashboard .grid .column.eight .segment{
                height:60vh;
            }


input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}