.management-module {
    background-color: white;
    
}





    .management-module .sidebar {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 5rem; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 3rem; /* Stay at the top */
        left: 0;
        background-color: rgba(0,0,0,0.1); /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        background-color: rgba(0,0,0,0.1);

        
       
       
    }

    .management-module .list {
        margin-left: 5rem;
        padding:20px;
        
    }

    .management-module .list .head{
            
    }
        

        .management-module .list .list-items {
           padding:20px;
        }

    .management-module .page-controlls {
        text-align: center;
    }
